<section class="cue">
  Tags represent what you care about.<br>
  Add. Drag to change relevance. Click to tell why you care. Remove.</section>

<!-- a form for adding a tag -->
<app-tag-autocomplete
  (action)="addTag($event)"
  (action404)="createAddTag($event)"
  placeholder="Add Tag"></app-tag-autocomplete>

<section>
  <!-- a container for newly added tags -->
  <!-- it is possible to drag them and drop to the relevance containers -->
  <div class="tag-relevance-container tag-relevance-container-initial">
    <!--ul *ngIf="tagLists[0] | async">
      <li *ngFor="let userTag of (tagLists[0] | async)"
        [ngClass]="'user-tag' + ((userTag.disabled) ? ' disabled' : '')"
        (click)="openTagStoryDialog(userTag)"
        dnd-draggable [dragEnabled]="!userTag.disabled" [dragData]="{ from: 0, userTag: userTag }">
        {{userTag.tagId}}
        <span class="story-indicator" *ngIf="userTag.story">&#9679;</span>
        <button (click)="openRemoveTagDialog(userTag); $event.stopPropagation()">
          <mat-icon alt="remove">close</mat-icon>
        </button>
      </li>
    </ul-->
  </div>

  <!-- containers for userTags by different relevance (1-5) -->
  <!-- it is possible to drag and drop userTags to change their relevance -->
  <div *ngFor="let relevance of [5,4,3,2,1]"
    class="tag-relevance-container"
    [ngClass]="'tag-relevance-container-' + relevance"
    dnd-droppable (onDropSuccess)="dropTagToRelevance({ from: $event.dragData.from, to: relevance, userTag: $event.dragData.userTag })"
    (onDragEnter)="preventDefault($event)"
    (onDragOver)="preventDefault($event)"
    (onDragLeave)="preventDefault($event)">
    <!--pre>
      {{tagLists[relevance] | async }}
    </pre-->
    <ul *ngIf="tagLists[relevance] | async">
      <li *ngFor="let userTag of (tagLists[relevance] | async)"
        [ngClass]="'user-tag tag-relevance-' + relevance + ((userTag.disabled) ? ' disabled' : '')"
        (click)="openTagStoryDialog(userTag)"
        dnd-draggable [dragEnabled]="!userTag.disabled" [dragData]="{ from: relevance, userTag: userTag }">
        {{userTag.tagId}}
        <span class="story-indicator" *ngIf="userTag.story">&#9679;</span>
        <button (click)="openRemoveTagDialog(userTag); $event.stopPropagation()">
          <mat-icon alt="remove">close</mat-icon>
        </button>
      </li>
    </ul>
  </div>
</section>
