<!-- a form for adding a tag -->
<app-tag-autocomplete
  (action)="addTag($event)"
  (action404)="createAddTag($event)"
  placeholder="Add Tag"></app-tag-autocomplete>

<section>
  <span *ngIf="tags===undefined">Loading tags ...</span>

  <!-- a container for newly added tags -->
  <!-- it is possible to drag them and drop to the relevance containers -->
  <div class="tag-relevance-container tag-relevance-container-initial">
    <md-chip-list>
      <md-chip *ngFor="let tag of tagLists[0]"
        [disabled]="tag.disabled"
        (click)="openTagStoryDialog(tag)"
        dnd-draggable [dragEnabled]="true" [dragData]="{ from: 0, data: tag }">
        {{tag.tagname}}
        <button (click)="removeTag(tag.tagname); $event.stopPropagation()">
          <md-icon alt="remove">close</md-icon>
        </button>
      </md-chip>
    </md-chip-list>
  </div>

  <!-- containers for tags by different relevance (1-5) -->
  <!-- it is possible to drag and drop tags to change their relevance -->
  <div *ngFor="let relevance of [5,4,3,2,1]"
    class="tag-relevance-container"
    [ngClass]="'tag-relevance-container-' + relevance"
    dnd-droppable (onDropSuccess)="dropTagToRelevance($event, relevance)"
    (onDragEnter)="preventDefault($event)"
    (onDragOver)="preventDefault($event)"
    (onDragLeave)="preventDefault($event)">
    <md-chip-list>
      <md-chip *ngFor="let tag of tagLists[relevance]"
        [disabled]="tag.disabled"
        (click)="openTagStoryDialog(tag)"
        dnd-draggable [dragEnabled]="true" [dragData]="{ from: relevance, data: tag }">
        {{tag.tagname}}
        <button (click)="removeTag(tag.tagname); $event.stopPropagation()">
          <md-icon alt="remove">close</md-icon>
        </button>
      </md-chip>
    </md-chip-list>
  </div>
</section>
