@import '../../shared/styles/colors';
@import '../../shared/styles/tag-relevance';

$tag-remove-size: 24px;

.user-tag {
  padding: 0.5em;
  border-radius: 1em;
  margin: 0.2em;

  cursor: grab;
  vertical-align: middle;
  display: inline-block;

  &.disabled {
    color: gray;
    background-color: #eee;
  }

  button {
    width: $tag-remove-size;
    height: $tag-remove-size;
    border-radius: $tag-remove-size/2;

    padding: 0;
    margin: -4px;
    vertical-align: middle;
    text-align: center;

    cursor: pointer;

    color: inherit;
    background-color: white;
    line-height: 0;
  }
}

.story-indicator {
  color: $accent;
}

.tag-relevance-container {
  &:not(.tag-relevance-container-initial) {
    min-height: 3em;
  }
  padding: 0.5em;
}

.tag-relevance-container-initial {
  // background-color: mix($accent, white, 60%);
}

// coloring of the containers for tags
@for $i from 1 through 5 {
  .tag-relevance-container-#{$i} {
    border-left: 1em solid nth($tag-colors, $i);
  }
}

.cue {
  font-size: smaller;
  color: #444;
  margin-bottom: 1em;
}
