<!-- a form for adding a tag -->
<app-tag-autocomplete
  (action)="addTag($event)"
  (action404)="createAddTag($event)"
  placeholder="Add Tag"></app-tag-autocomplete>

<section>
  <!-- a container for newly added tags -->
  <!-- it is possible to drag them and drop to the relevance containers -->
  <div class="tag-relevance-container tag-relevance-container-initial">
    <md-chip-list>
      <md-chip *ngFor="let userTag of tagLists[0]"
        ngClass="user-tag"
        [disabled]="userTag.disabled"
        (click)="openTagStoryDialog(userTag)"
        dnd-draggable [dragEnabled]="true" [dragData]="{ from: 0, userTag: userTag }">
        {{userTag.tag.tagname}}
        <button (click)="openRemoveTagDialog(userTag); $event.stopPropagation()">
          <md-icon alt="remove">close</md-icon>
        </button>
      </md-chip>
    </md-chip-list>
  </div>

  <!-- containers for userTags by different relevance (1-5) -->
  <!-- it is possible to drag and drop userTags to change their relevance -->
  <div *ngFor="let relevance of [5,4,3,2,1]"
    class="tag-relevance-container"
    [ngClass]="'tag-relevance-container-' + relevance"
    dnd-droppable (onDropSuccess)="dropTagToRelevance($event.dragData, relevance)"
    (onDragEnter)="preventDefault($event)"
    (onDragOver)="preventDefault($event)"
    (onDragLeave)="preventDefault($event)">
    <md-chip-list>
      <md-chip *ngFor="let userTag of tagLists[relevance]"
        [disabled]="userTag.disabled"
        [ngClass]="['tag-relevance-' + relevance, 'user-tag']"
        (click)="openTagStoryDialog(userTag)"
        dnd-draggable [dragEnabled]="true" [dragData]="{ from: relevance, userTag: userTag }">
        {{userTag.tag.tagname}}
        <button (click)="openRemoveTagDialog(userTag); $event.stopPropagation()">
          <md-icon alt="remove">close</md-icon>
        </button>
      </md-chip>
    </md-chip-list>
  </div>
</section>
