@import '../../shared/styles/colors';
@import '../../shared/styles/tag-relevance';

$tag-remove-size: 2em;

md-chip {
  cursor: grab;
  vertical-align: middle;

  &[disabled=true] {
    color: gray;
    background-color: #eee;
  }

  button {
    width: $tag-remove-size;
    height: $tag-remove-size;
    border-radius: $tag-remove-size/2;

    padding: 0;
    vertical-align: middle;
    text-align: center;

    cursor: pointer;
  }
}

.tag-relevance-container {
  &:not(.tag-relevance-container-initial) {
    min-height: 3em;
  }
  padding: 0.5em;
}

.tag-relevance-container-initial {
  // background-color: mix($accent, white, 60%);
}

// coloring of the containers for tags
@for $i from 1 through 5 {
  .tag-relevance-container-#{$i} {
    border-left: 1em solid nth($tag-colors, $i);
  }
}
