<h1>Forgot your password for ditup?</h1>

<div *ngIf="!isSubmitSuccessful">
  Write your username or email and we'll send you a message with reset link to your mailbox.

  <fieldset [disabled]="isSubmitting">
    <form (ngSubmit)="onSubmit()" [formGroup]="resetPasswordForm">
      <div>
        <input type="text" placeholder="Your Username or Email"
          formControlName="usernameEmail" required>
      </div>

      <button type="submit"
        [disabled]="!resetPasswordForm.valid">Submit</button>
    </form>
  </fieldset>
</div>

<div *ngIf="isSubmitting">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="isSubmitSuccessful">
  The data was successfully submitted. Email with reset password link should arrive to your mailbox soon.
  Your link is valid for 30 minutes.
  <br>
  Please note: if you provided an inexistent username or email, your request will be ignored.
</div>
