@import "../shared/styles/colors";
.app-header {
  background-color: $darker;
  color: $light;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.user-avatar {
  height: 24px;
  width: 24px;
  border-radius: 12px;
  overflow: hidden;
  display: inline-block;
  position: relative;
}

.ditup-logo {
  height: 36px;
  width: 36px;
}

.main-navigation {
  [md-button] {
    width: 36px;
  }
}
