@import "../shared/styles/colors";

$height: 64px;

/*  */
@media (max-width: 384px) {
  .header-navigation {
    &>a {
      flex: 1 1 0;
    }
  }

  .fill-remaining-space {
    display: none;
  }
}

@media (min-width: 385px) {
  .header-navigation {
    &>a {
      min-width: $height;
    }
  }
}

@media (max-width: 512px) {
  .user-name {
    display: none;
  }

  .user {
    padding: 0 0;
  }
}

@media (min-width: 513px) {
  .user {
    padding: 0 20px;
  }
}

.app-header {
  background-color: $dark;
  color: $light;
  height: $height;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.user-name {
  padding-left: 5px;
}

.user-avatar {
  height: 24px;
  width: 24px;
  border-radius: 12px;
  overflow: hidden;
}

.ditup-logo {
  height: 36px;
  width: 36px;
}

.header-navigation {
  height: $height;
  display: flex;
  width: 100%;
  &>a {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:hover {
      background-color: $accent;
    }
  }
}
