@import "../shared/styles/colors";
// @import "../shared/styles/fa-icon-mixin";
//
// $height:46px;
// $font-size: 16px;
//
// @mixin box-shadow($box-shadow) {
//   -webkit-box-shadow: $box-shadow;
//      -moz-box-shadow: $box-shadow;
//           box-shadow: $box-shadow;
// }
//
.app-header {
  background-color: $darker;
//   height:$height;
//   font-size:$font-size;
  color:$light;
//   position:relative;
//
//   input, button {
//     vertical-align: middle;
//     position:relative;
//     height:30px;
//     border:none;
//     top: -1px; /* this is a fix of weird movement of the element */
//   }
//
//   form {
//     display: inline-block;
//   }
// }
//
// .main-navigation {
//   &>ul {
//     display:inline-block;
//   }
//
//   &>*>* {
//     display: inline-block;
//
//     &>a, &>button {
//       /* display page header links stretched over the whole header */
//       display: inline-block;
//       padding: 15px;
//
//       &:hover {
//         background-color:complement($darker); /*counted by removing a little from each color */
//       }
//     }
//   }
// }
//
// .people-menu {
//   float: right;
//
//   &:after{
//     clear:right;
//   }
// }
//
// /* BEGIN styling logo */
//
//
// .home-logo{
//   $logo-height: 36px;
//   $img-margin: (($height - $logo-height)/2);
//
//   position:relative;
//   top:-1px; /* a fix of misplacement*/
//
//   img {
//     height:$logo-height;
//     vertical-align:middle;
//     margin: $img-margin;
//   }
//
//   &>a{
//     padding:0 $img-margin 0 0 !important;
//   }
// }
//
// /* END styling logo */
//
//
// /* fix font awesome misplacement */
// .fa {
//   line-height:0;
// }
//
//
// /* BEGIN hide-show submenu */
//
// .header-menu {
//   &>li {
//     display:inline-block;
//     position:relative;
//   }
//
//   * {
//     z-index:10;
//   }
// }
//
//
// $submenu-border: 3px solid rgba(200,200,200,0.5);
//
// .header-submenu {
//   display:none;
//   position:absolute;
//   left:0;
//   min-width:100%;
//   color:black;
//   background-color:white;
//   //@include box-shadow(0px 0px 5px 3px #ccc);
//   border-bottom: $submenu-border;
//   border-left: $submenu-border;
//   border-right: $submenu-border;
//   //border: $submenu-border;
//
//   a, button {
//     display:inline-block;
//     padding:5px;
//     width:100%;
//     white-space: nowrap;
//
//     &:hover {
//       background-color:#ddd;
//     }
//   }
// }
//
// .header-menu>li:hover .header-submenu {
//   display:block;
// }
//
// /* make a horizontal separator between dit and connect menu */
// .connect-menu {
//   &:before {
//     @include fa-icon('f142');
//   }
// }
//
// /* align the last expanded items to the right */
// .people-menu:last-child .header-submenu {
//   right:0;
//   left: unset;
// }
//
// /* END */
//
// /* BEGIN user header avatar */
//
// .header-avatar {
//   $img-size: 30px;
//
//   >a {
//     padding:0 15px;
//   }
//
//   img {
//     border-radius: $img-size / 2;
//     height:$img-size;
//     vertical-align: middle;
//   }
//
//   span {
//     padding:15px 5px 15px 5px;
//     display:inline-block;
//   }
// }
//
// /* END */
//
// /* this shows the expand triangle */
// .expand::after {
//   @include fa-icon('f0d7');
//   padding-left:1px;
}
