.verification-container {
  display: block;

  h1 {
    text-align: center;
    margin-bottom: 0;
  }

  .info-about-email {
    text-align: center;
    margin: 1em 0;
    color: #222
  }

  .info-spam {
    text-align: center;
    margin-top: 1em;
  }
}

.home-mushroom-link {
  margin-top: 50px;
  text-align: center;
}
