<div *ngIf="!verificationSuccess" class="container">
  <form (ngSubmit)="onSubmit()" [formGroup]="verifyEmailForm">

    <!-- TODO style validation pending/errors -->
    <div>
      <md-input-container>
        <input mdInput type="text" placeholder="Verification Code"
          formControlName="code" required>
      </md-input-container>
    </div>

    <!--div class="form-group" [ngClass]="bootstrapCodeClass">
      <label for="code">Verification Code</label>
      <input type="text" class="form-control" id="code"
      formControlName="code" required>
    </div-->
    <button md-raised-button type="submit" class="btn btn-default"
      [disabled]="!verifyEmailForm.valid || submitting">Verify Email</button>
    <md-progress-spinner mode="indeterminate" *ngIf="submitting"></md-progress-spinner>
  </form>
</div>



<div *ngIf="verificationSuccess">
  <div>
    Your email was successfully verified. What now?
  </div>
  <nav>
    <ul>
      <li><a routerLink="/explore">Explore</a></li>
      <li><a routerLink="/user/username/edit">Edit My Profile</a></li>
      <li><a routerLink="/">Go Home</a></li>
      <li><a href="https://example.com">Leave</a></li>
    </ul>
  </nav>
</div>
