@import '../shared/styles/fonts';
@import '../shared/styles/colors';

.verification-container {
  width: 300px;
  margin: 0 auto;
  display: block;

  h1 {
    width: 100%;
    text-align: center;
  }
}

form {
  text-align: center;
  margin-bottom: 50px;
}

input,
button[type=submit] {
  width: 100%;
  display: block;
}

.home-mushroom-link {
  margin-top: 50px;
  text-align: center;
}
