@import '../../shared/styles/fonts';
@import '../../shared/styles/colors';

$dark-color: $dark;
$light-color: $accent;
$main-font: $font-content;
$font-2: $font-header;
$bg-color: $light;

.name-part {
  color: $light-color;
}

#about {
  background-color: $bg-color;

  h1 {
    display: none;
  }

}

.page {
  min-height: 100vh; // viewport height
  width: 100%;
}

#introduction {
  background-color: $bg-color;
  color: $dark-color;
  padding: 50px 0 20px;
  font: 20px $main-font;
  text-align: center;
}

.app-url {
  font: 70px $font-2;
  font-weight: bold;
  margin-top: 30px;
}

.app-summary {
  font-family: $main-font;
  font-style: italic;
  margin-top: 20px;
  margin-bottom: 40px;
}

.app-name-meaning {
  font: 30px/1.2 $main-font;
}

#email-contact {
  font-style: italic;
}

.button-container {
  text-align: center;

  .button {
    font: 25px $font-2;
    text-decoration: none;
    padding: 7px 10px;
    margin: 5px;
    transition: all 200ms ease;
    display: inline-block;

    color: $light-color;
    border: 2px solid $dark-color;

    &:hover {
      color: $bg-color;
      background-color: $dark-color;
    }

    &[disabled] {
      color: gray;
      background-color: $bg-color;
    }
  }

}

.info-section {
  color: $dark-color;
  font: 1.2em/1.5 $main-font;


  h1 {
    font: 60px $font-2;
    font-weight: bold;
    color: $light-color;
  }

  h2 {
    font: 50px $font-2;
    font-weight: bold;
    padding: 20px 0 10px;
    color: $light-color;
  }

  ul {
    padding: 1em 20px;
    list-style: disc;
  }

  p {
    padding: 0.5em 0;
  }
}

a {
  color: $light-color;
  text-decoration: none;

  &:hover {
    color: $bg-color;
    background-color: $dark-color;
  }
}
