<section id="introduction" class="page">
  <section class="app-name-meaning">
    <span class="name-part" >d</span>o <span class="name-part" >i</span>t <span class="name-part" >t</span>ogether
    <br>
    start it <span class="name-part" >up</span>
  </section>
  <section class="app-url">
    <span class="name-part" >ditup</span>.org
  </section>
  <section class="app-summary" >
    online platform for real-world collaboration
  </section>
  <nav class="main-button-container button-container">
    <a class="button" routerLink="/login" >log in</a>
    <a class="button" routerLink="/signup" >sign up</a>
    <a class="button" href="#about" >read more</a>
  </nav>
</section>

<section id="about" class="page info-section">
  <h1>about</h1>
  <section>
    <h2>vision</h2>

    <p>It should be incredibly easy to start doing what you really care
      about. Fulltime.</p>

    <ul>
      <li>Connect with people who share your passions.</li>
      <li>Share your ideas and improve them together.</li>
      <li>Identify challenges and tackle them.</li>
      <li>Start or join a project that will make the difference.</li>
    </ul>

    <p>Currently we develop this platform to do exactly that.</p>

    <p>One day we'll have a network of places where people can meet and
      collaborate. We'll learn from mistakes and discover best practices.</p>
    <p>We'll support each other. We will empower ourselves to leave
      corporations, institutions and other meaningless systems we can't
      escape now.</p>
  </section>

  <section>
    <h2>development</h2>

    <a href="https://github.com/ditup/ditapi">REST API</a>
    and
    <a href="https://github.com/ditup/ditapp">Angular app</a>
    <p>Join us.</p>
  </section>

  <section>
    <h2>contact</h2>
    <span id="email-contact">michal dot salajka at protonmail dot com</span>
  </section>
</section>
