@import '../../shared/styles/fonts';
@import '../../shared/styles/colors';

$dark-color: $dark;
$light-color: $darker;
$main-font: $font-content;
$font-2: $font-header;
$bg-color: $light;

.name-part {
  color: $light-color;
}

#about {
  background-color: $bg-color;

  h1 {
    display: none;
  }

}

.page {
  min-height: 100vh; // viewport height
  width: 100%;
}

#introduction {
  background-color: $bg-color;
  color: $dark-color;
  padding: 50px 0 20px;
  font: 20px $main-font;
  text-align: center;
}

.app-url {
  font: 70px $font-2;
  font-weight: bold;
  margin-top: 30px;
}

.app-summary {
  font-family: $main-font;
  font-style: italic;
  margin-top: 20px;
  margin-bottom: 40px;
}

.app-name-meaning {
  font: 30px/1.2 $main-font;
}

#email-contact {
  font-style: italic;
}

.button-container {
  text-align: center;

  .button {
    font: 25px $font-2;
    text-decoration: none;
    padding: 7px 10px;
    margin: 5px;
    transition: all 200ms ease;
    display: inline-block;

    color: $light-color;
    border: 2px solid $dark-color;

    &:hover {
      color: $bg-color;
      background-color: $dark-color;
    }

    &[disabled] {
      color: gray;
      background-color: $bg-color;
    }
  }

}

.info-section {
  color: $dark-color;
  font: 1.2em/1.5 $main-font;


  h1 {
    font: 60px $font-2;
    font-weight: bold;
    color: $light-color;
  }

  h2 {
    font: 50px $font-2;
    font-weight: bold;
    padding: 20px 0 10px;
    color: $light-color;
  }

  ul {
    padding: 1em 20px;
    list-style: disc;
  }

  p {
    padding: 0.5em 0;
  }
}

a {
  color: $light-color;
  text-decoration: none;

  &:hover {
    color: $bg-color;
    background-color: $dark-color;
  }
}

.nav-back {
  font-size: smaller;
  color: gray;
  text-align: right;
  float: right;
}


// display screenshots and description next to each other
// every second section has reverse order, to show image on the left
// there is a space of 1em between image and description
@media (min-width: 513px) {
  .works-section {
    display: flex;
    justify-content: space-between;

    > div {
      flex: 1;

      > p:nth-of-type(1) {
        padding-top: 0;
      }
    }

    &:nth-of-type(even) {
      flex-direction: row-reverse;

      p {
        padding-left: 1em;
      }
    }

    &:nth-of-type(odd) {
      p {
        padding-right: 1em;
      }
    }
  }
}

// screenshots and description for mobile display
@media (max-width: 512px) {
  .works-section {
    display: block;
  }
}

.works-section {
  text-align: justify;
}

.screenshot {
  width: 100%;
  border: 2px solid $light-color;
}
// end of displaying screenshots and info
