<section id="introduction" class="page">
  <section class="app-name-meaning">
    <span class="name-part" >d</span>o <span class="name-part" >i</span>t <span class="name-part" >t</span>ogether
    <br>
    start it <span class="name-part" >up</span>
  </section>
  <section class="app-url">
    <span class="name-part" >ditup</span>.org
  </section>
  <section class="app-summary" >
    online platform for real-world collaboration
  </section>
  <nav class="main-button-container button-container">
    <a class="button" routerLink="/login" >log in</a>
    <a class="button" routerLink="/signup" >sign up</a>
    <a class="button" href="#about" >read more</a>
  </nav>
</section>

<section id="about" class="page info-section">
  <h1>about</h1>
  <nav>
    <ul>
      <li><a href="#what-is-this">what is this?</a></li>
      <li><a href="#how-it-works">how does it work?</a></li>
      <!--li><a href="#resources">money and other resources</a></li-->
      <li><a href="#dev">development</a></li>
      <li><a href="#contact">contact</a></li>
    </ul>
  </nav>
  <section>
    <nav class="nav-back"><a href="#about">back</a></nav>
    <h2 id="what-is-this">what is this?</h2>
    Connect with similar-minded people.<br>
    Start doing what you really care about. Together. Fulltime.<br>
    <!--Share ideas, tackle challenges, start a project.-->
  </section>

  <section>
    <nav class="nav-back"><a href="#about">back</a></nav>
    <h2 id="how-it-works">how does it work?</h2>
    <h3>Tell what you care about</h3>
    <section class="works-section">
      <div>
        <p>Tags represent what you care about. Add them to your profile. Tell how relevant they are to you. You can also tell why you care.</p>
      </div>
      <div>
        <img class="screenshot" src="/static/img/screenshots/profile.png" alt="profile">
      </div>
    </section>

    <h3>Find similar-minded people</h3>
    <section class="works-section">
      <div>
        <p>Tags help you to find similar-minded people. And they help people to find you.</p>
      </div>
      <div>
        <img class="screenshot" src="/static/img/screenshots/people.png" alt="search people">
      </div>
    </section>

    <h3>Find people around</h3>
    <section class="works-section">
      <div>
        <p>Map shows where people are.</p>
      </div>
      <div>
        <img class="screenshot" src="/static/img/screenshots/map.png" alt="map">
      </div>
    </section>

    <h3>Make the connection</h3>
    <section class="works-section">
      <div>
        <p>If you find somebody, don't hesitate to start a conversation. Discuss your ideas, meet and start collaborating.</p>
      </div>
      <div>
        <img class="screenshot" src="/static/img/screenshots/messages.png" alt="messages">
      </div>
    </section>

    <h3>Future</h3>
    <section class="works-section">
      <div>
        <p>Soon it will be possible to share ideas, identify challenges and start or join projects.</p>
        <p>We also imagine creating community places where people can meet and collaborate. That may happen later in the future.</p>
      </div>
    </section>
  </section>

  <!--section>
    <nav class="nav-back"><a href="#about">back</a></nav>
    <h2 id="resources">money and other resources</h2>
    <p>This project is not for profit. It will never be financed by advertising, users will never be forced to pay for access to any part of the application, and we'll never sell users' data. The project is and will be open source. We promise.</p>
    <p>What then?</p>
    <p>Currently, it's very cheap to run the project: Coding and maintenance is done by a small team of volunteers. Server rent is very cheap (around 50 EUR per year).</p>
    <p>But what about the future?</p>
    <p>We want to encourage profit-oriented projects created on ditup to donate a small part of their shares or profits to ditup. If they're successful, ditup will be able to grow, too.</p>
    <p>Traditional donations may also be an option.</p>
    <p>All ditup accounts should be public.</p>
    <p>The resources gathered in this way will be used to keep the platform running. Anything above that will be used for further growth: Creating collaborative community places and other possible future ideas.</p>
    <p>We will need a legal base for this. Let us know, if you know how to do that.</p>
    <p>If we fail to keep these promises, may our reputation fall apart. May we be lost in the silicon history. May you clone the project or start a better one.</p>

  </section-->

  <section>
    <nav class="nav-back"><a href="#about">back</a></nav>
    <h2 id="dev">development</h2>

    <a href="https://github.com/ditup/ditapi">REST API</a>
    and
    <a href="https://github.com/ditup/ditapp">Angular app</a>
    <p>Join us.</p>
  </section>

  <section>
    <nav class="nav-back"><a href="#about">back</a></nav>
    <h2 id="contact">contact</h2>
    <span id="email-contact">michal dot salajka at protonmail dot com</span>
  </section>
</section>
