app-user-card {
  display: inline-block;
  vertical-align: middle;
}

mat-icon {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin: 0 1em;
}

.contact-overview {
  text-align: center;
}
