@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400italic');

.content-align-wrapper {
  text-align: center;
}

.fof-image {
  margin-top: 2em;
  margin-bottom: 1em;
  max-width: 256px;
  width: 100%;
}

.fof-text {
  font-style: italic;
  font-size: 2em;
  font-family: 'Libre Baskerville', serif;
}
