<app-fof *ngIf="!user" message="user doesn't exist"></app-fof>

<app-fof *ngIf="user && isSelf === true" message="it is you"></app-fof>

<div *ngIf="user && isSelf !== true">
  <!-- nonexistent -->
  <app-contact-request-send *ngIf="contactStatus === 'nonexistent'">
  </app-contact-request-send>
  <!-- confirmed -->
  <app-contact-update *ngIf="contactStatus === 'confirmed'">
  </app-contact-update>
  <!-- unconfirmed, sent -->
  <app-contact-request-update *ngIf="contactStatus === 'sent'">
  </app-contact-request-update>
  <!-- unconfirmed, received -->
  <app-contact-request-process *ngIf="contactStatus === 'received'">
  </app-contact-request-process>
</div>
