<div>
  <!-- A form to update tag's story.
    It's used in a mat-dialog in user-edit-tags.component -->
  <form (ngSubmit)="onSubmit()" [formGroup]="updateTagStoryForm">
    <fieldset [disabled]="isFormDisabled">
      <div>
        Edit story of <mat-icon alt="tag">label</mat-icon> {{userTag.tag.tagname}}
      </div>

      <div>
        <!--<textarea placeholder="Why do you care about {{userTag.tag.tagname}}?"
          formControlName="story">{{userTag.story}}</textarea>

        <div *ngIf="formErrors.story" class="alert alert-danger">
          {{formErrors.story}}
        </div>-->
        <textarea placeholder="Why do you care about {{userTag.tag.tagname}}?"
          appEditor [form]="updateTagStoryForm" [value]="userTag.story" [fixed]="true"
          formControlName="story">{{userTag.story}}</textarea>

      </div>

      <button type="submit"
        [disabled]="!updateTagStoryForm.valid">Save</button>

    </fieldset>
  </form>
</div>
