<app-tag-autocomplete
  placeholder="search tags"
  (action)="addTagToList($event)"
  (action404)="complainNonexistentTag($event)"></app-tag-autocomplete>
<button mat-raised-button
  class="open-select-dialog"
  (click)="openMyTagsDialog()">Choose from My Tags</button>
<button mat-raised-button class="clear-selection"
  (click)="clearSelection()">clear</button>

<mat-chip-list>
  <mat-chip *ngFor="let tag of tagList.tags" class="tag-selected">
    {{tag.tagname}}
    <button mat-icon-button
      class="tag-selected-remove"
      (click)="removeTagFromList(tag)">
      <mat-icon alt="remove">close</mat-icon>
    </button>
  </mat-chip>
</mat-chip-list>
