<div class="controls-container">
  <app-tag-autocomplete
    placeholder="search tags"
    (action)="addTagToList($event)"
    (action404)="complainNonexistentTag($event)"></app-tag-autocomplete>

  <button class="open-select-dialog"
    (click)="openMyTagsDialog()">Choose from My Tags</button>
  <button class="clear-selection"
    (click)="clearSelection()">clear</button>
</div>

<ul>
  <li *ngFor="let tag of tagList.tags" class="tag-selected">
    {{tag.tagname}}
    <button class="tag-selected-remove"
      (click)="removeTagFromList(tag)">
      <mat-icon alt="remove">close</mat-icon>
    </button>
  </li>
</ul>
