@import '../styles/colors';

nav {
  margin-bottom: 1em;
  border-bottom: 3px solid $darker;
  border-radius: 2px;
  font-size: larger;

  a {
    display: inline-block;
    padding: 0.5em;
    border-radius: 2px 2px 0 0;
    color: #6ca6ca;
  }

  .active-link,
  a:hover {
    background-color: $darker;
    color: white;
  }
}

