<h1>Reset your password for ditup</h1>

<div>
  Write your new password:
  <fieldset [disabled]="isSubmitting">
    <form (ngSubmit)="onSubmit()" [formGroup]="updatePasswordForm">
      <div>
        username: {{username}}
      </div>
      <div>
        <md-input-container>
          <input mdInput type="password" placeholder="password"
            formControlName="password" required>
        </md-input-container>
      </div>

      <button md-raised-button type="submit"
        [disabled]="!updatePasswordForm.valid">Save</button>
    </form>
  </fieldset>
</div>

<div *ngIf="isSubmitting">
  <md-spinner></md-spinner>
</div>
