@import "../../shared/styles/colors";

.vote-button {
  color: gray;
  background-color: white;
  padding: 0.1em;

  &.button-voted {
    color: $darker;
  }
}

.vote-sum {
  text-align: center;
  color: gray;
  font-size: 1.2em;
}
