<div class="container">

  <h1>
    Edit <a routerLink="/user/{{user.username}}">your</a> profile
  </h1>

  <nav md-tab-nav-bar>
    <a md-tab-link
      routerLink="/profile/edit"
      routerLinkActive #profileLink="routerLinkActive"
      [routerLinkActiveOptions]="{exact: true}"
      [active]="profileLink.isActive">
      Info
    </a>

    <a md-tab-link
      routerLink="/profile/edit/tags"
      routerLinkActive #tagsLink="routerLinkActive"
      [routerLinkActiveOptions]="{exact: true}"
      [active]="tagsLink.isActive">
      Tags
    </a>

    <a md-tab-link
      routerLink="/profile/edit/location"
      routerLinkActive #locationLink="routerLinkActive"
      [routerLinkActiveOptions]="{exact: true}"
      [active]="locationLink.isActive">
      Location
    </a>
  </nav>

  <router-outlet></router-outlet>
</div>
