@import '../shared/styles/fonts';
@import '../shared/styles/colors';

.login-form-container {
  width: 300px;
  margin: 0 auto;
  display: block;

  h1 {
    width: 100%;
    text-align: center;
  }
}

.related-navigation {
  margin: 1em 0;

  a {
    display: block;
    text-align: center;
    margin: 0.5em 0;
    color: $darker;
  }
}

.home-mushroom-link {
  margin-top: 50px;
  text-align: center;
}
