h1,
h1 + div
{
  text-align: center;
}

h1 {
  margin-bottom: 0;
}

app-contact-overview {
  display: block;
  margin: 1em;
}

app-contact-form {
  display: block;
  width: 400px;
  margin: 0 auto;
}
