<div [ngClass]="'main-container'" *ngIf="otherUserExists === true">
  <h1>Conversation with <app-avatar [user]="otherUser.username"></app-avatar> {{otherUser.username}}</h1>

  <ul #messagesList [ngClass]="'message-list'">
    <li *ngFor="let msg of messages"
      class="message"
      [ngClass]="(msg.to.username === otherUser.username)
        ? 'sent'
        : (!msg.read)
        ? 'unread'
        : 'read'">
      <app-avatar [title]="msg.from.username" class="message-from" [user]="msg.from.username"></app-avatar>
      <div class="message-sender">{{ msg.from.username }}</div>
      <div class="message-created">{{ msg.created | amTimeAgo }}</div>
      <div class="message-body">
        <app-editor-output [value]="msg.body"></app-editor-output>
      </div>
    </li>
  </ul>

  <!-- empty conversation -->
  <div class="no-content-info" *ngIf="messages.length === 0">
    <span>No conversation with {{otherUser.username}} yet.</span>
  </div>
  <!-- empty conversation -->

  <app-message-form [receiver]="otherUser" (onMessageSent)="onNewMessage($event)">
  </app-message-form>

</div>

<div *ngIf="otherUserExists === false">
  <app-fof message="user {{otherUser.username}} doesn't exist"></app-fof>
</div>
