@import '../shared/styles/colors';

.message {

  &.unread {
    font-weight: bold;
  }

  border: 2px solid $darker;
  border-radius: 0.7em;
  padding: 5px;
  margin: 5px 0;

  &.sent {
    border-color: $accent;
    // text-align: right;
  }

  .message-sender,
  .message-created {
    display: inline-block;
    font-size: smaller;
    color: gray;
  }
}

.message-body span {
  text-align: justify;
}

app-avatar {
  display: inline-block;
  height: 1em;
  width: 1em;
}

.main-container {
  display: flex;
  position: fixed;
  flex-direction: column;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
}

/* margin around messages */
@media (min-width: 783px) {
  .main-container {
    max-width: 768px;
    margin: 0 auto;
  }
}

@media (max-width: 782px) {
  .main-container {
    margin: 0 14px;
  }
}

.message-list {
  overflow: auto;
  flex: 1 1 auto;
}

h1 {
  display: none;
}
