@import '../shared/styles/colors';

.message {

  &.unread {
    font-weight: bold;
  }

  border: 2px solid $darker;
  border-radius: 0.7em;
  padding: 5px;
  margin: 5px 0;

  &.sent {
    border-color: $accent;
    // text-align: right;
  }

  .message-created {
    display: inline-block;
    font-size: smaller;
    color: gray;
  }
}

.message-body span {
  text-align: justify;
}

app-avatar {
  display: inline-block;
  height: 1em;
  width: 1em;
}
