<div *ngIf="otherUserExists === true">
  <h1>Conversation with <app-avatar [username]="otherUser.username"></app-avatar> {{otherUser.username}}</h1>

  <ul>
    <li *ngFor="let msg of messages"
      class="message"
      [ngClass]="(msg.to.username === otherUser.username)
        ? 'sent'
        : (!msg.read)
        ? 'unread'
        : 'read'">
      <div class="message-created">{{ msg.created | amTimeAgo }}</div>
      <div class="message-body">
        <app-avatar
          *ngIf="msg.from.username === otherUser.username"
          class="message-from"
          [username]="msg.from.username"></app-avatar>
        {{ msg.body }}
        <app-avatar
          *ngIf="msg.to.username === otherUser.username"
          class="message-from"
          [username]="msg.from.username"></app-avatar>
      </div>
    </li>
  </ul>

  <app-message-form [receiver]="otherUser" (onMessageSent)="onNewMessage($event)">
  </app-message-form>
</div>

<div *ngIf="otherUserExists === false">
  <app-fof message="user {{otherUser.username}} doesn't exist"></app-fof>
</div>
