<form (ngSubmit)="onSubmitWrapper()" [formGroup]="contactForm">
  <fieldset [disabled]="isFormDisabled">

    <div class="form-field message-field" *ngIf="fields.indexOf('message') > -1">
      <h2>Message</h2>
      <textarea placeholder="Tell the user why you want to create the contact"
        appEditor [form]="contactForm" [value]="data.message"
        formControlName="message"></textarea>
    </div>

    <div class="form-field trust-field" *ngIf="fields.indexOf('trust') > -1">
      <h2>Trust*</h2>
      <mat-radio-group formControlName="trust" required>
        <mat-radio-button *ngFor="let tl of trustLevels" [value]="tl.value">
          {{tl.label}}
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="form-field reference-field" *ngIf="fields.indexOf('reference') > -1">
      <h2>Reference</h2>
      <textarea placeholder="Write a reference for the user"
        appEditor [form]="contactForm" [value]="data.reference"
        formControlName="reference"></textarea>
    </div>

    <button mat-raised-button type="submit"
      [disabled]="!contactForm.valid">Submit</button>

  </fieldset>
</form>
