<form (ngSubmit)="onSubmitWrapper()" [formGroup]="contactForm">
  <fieldset [disabled]="isFormDisabled">

    <md-input-container class="form-field message-field" *ngIf="fields.indexOf('message') > -1">
      <textarea mdInput placeholder="Message"
        formControlName="message"></textarea>
    </md-input-container>

    <div class="form-field trust-field" *ngIf="fields.indexOf('trust') > -1">
      <h2>Trust</h2>
      <md-radio-group formControlName="trust">
        <md-radio-button *ngFor="let tl of trustLevels" [value]="tl.value">
          {{tl.label}}
        </md-radio-button>
      </md-radio-group>
    </div>

    <md-input-container class="form-field reference-field" *ngIf="fields.indexOf('reference') > -1">
      <textarea mdInput placeholder="Reference"
        formControlName="reference"></textarea>
    </md-input-container>

    <button md-raised-button type="submit"
      [disabled]="!contactForm.valid">Submit</button>

  </fieldset>
</form>
