<nav ngClass="explore-options">
  <a *ngFor="let option of exploreOptions"
    [routerLink]="option.link"
    [ngClass]="option.todo ? ['coming'] : []">
    <i *ngIf="option.todo">coming</i>
    <mat-icon>{{option.icon}}</mat-icon>
    <div ngClass="title">{{option.title}}</div>
  </a>
</nav>

<nav ngClass="explore-options">
  <a *ngFor="let option of todoOptions"
    [routerLink]="option.link"
    [ngClass]="option.todo ? ['coming'] : []">
    <i *ngIf="option.todo">coming</i>
    <mat-icon>{{option.icon}}</mat-icon>
    <div ngClass="title">{{option.title}}</div>
  </a>
</nav>
