<div id="content" class="page">
<div class="vertical-center-parent">
<div class="vertical-center"><!-- container to vertically center -->
  <div class="introduction" >
    <span class="colored" >d</span>o <span class="colored" >i</span>t <span class="colored" >t</span>ogether
  </div>
  <div class="introduction" >
    start it <span class="colored" >up</span>
  </div>
  <h1 class="page-url">
    <span class="colored" >ditup</span>.org
  </h1>
  <div class="app-summary" >
    online platform for real-world collaboration
  </div>
  <nav class="main-buttons">
    <a class="button" routerLink="/login" >log in</a><!--
    --><a class="button" routerLink="/signup" >sign up</a><!--
    --><a class="button" href="#about" >read more</a>
  </nav>
  <div style="height:50px;"></div>
</div>
</div>
</div>

<div id="about" class="page">
    <h1>about</h1>
    <div>vision</div>
    <div>social links: github etc.</div>
</div>
