<form (ngSubmit)="onSubmit()" [formGroup]="tagForm">
  <mat-form-field>
    <input matInput type="text" [placeholder]="placeholder"
      [matAutocomplete]="auto"
      formControlName="tagname">
  </mat-form-field>

  <!-- autocomplete of tags -->
  <mat-autocomplete #auto (optionSelected)="submitFromAutosuggestion($event.option.value)">
    <mat-option *ngFor="let tag of suggestedTags | async" [value]="tag.tagname">
      {{ tag.tagname }}
    </mat-option>
  </mat-autocomplete>

  <button mat-raised-button type="submit"
    [disabled]="!tagForm.valid">+</button>
</form>
