<div *ngIf="tagExists === false">
  Tag doesn't exist
</div>

<div *ngIf="tagLoading === true">
  <md-spinner></md-spinner>
</div>

<md-card *ngIf="tagExists === true">
  <md-card-title><md-icon alt="tag">label</md-icon> {{tag.tagname}}</md-card-title>

  <md-card-content>
    <md-tab-group>

      <md-tab label="Related Tags">
        TODO
        <md-icon alt="tag">label</md-icon>
      </md-tab>

      <md-tab>
        <template md-tab-label>
          <md-icon alt="people">person</md-icon>
        </template>
      </md-tab>

      <!--md-tab>
        <template md-tab-label>
          <md-icon alt="ideas">lightbulb_outline</md-icon>
        </template>
      </md-tab>

      <md-tab>
        <template md-tab-label>
          <md-icon alt="challenges">extension</md-icon>
        </template>
      </md-tab>

      <md-tab>
        <template md-tab-label>
          <md-icon alt="projects">build</md-icon>
        </template>
      </md-tab>

      <md-tab>
        <template md-tab-label>
          <md-icon alt="discussions">forum</md-icon>
        </template>
      </md-tab-->

    </md-tab-group>
  </md-card-content>
</md-card>
