<div>
  <form (ngSubmit)="onSubmit()" [formGroup]="messageForm">
    <fieldset [disabled]="isFormDisabled">

      <div>
        <mat-form-field
          [dividerColor]="formErrors.body ? 'warn' : ''"
          [hintLabel]="formErrors.body || null">
          <textarea matInput placeholder="Message"
            formControlName="body"></textarea>
        </mat-form-field>
      </div>

      <button mat-raised-button type="submit"
        [disabled]="!messageForm.valid">Send</button>
      <span *ngIf="sending"><mat-spinner></mat-spinner></span>

    </fieldset>
  </form>
</div>
