@import 'colors';
@import 'sizes';
@import 'fa-icon-mixin';

@mixin list($collection) {
  $singular-collection: if($collection == people, user, $collection);
  $plural-collection: if($collection != people, $collection+s, $collection);
  $singular-collection-tag-fixed: if($singular-collection == tag, tag-list, $singular-collection); //fixing for tags because .tag already has some unwanted styling

  .non-list {
    margin-left:$list-margin; /* fix the parts which are out of list */
    margin-right: $list-margin;
  }

  .#{$collection}-list {
    display: inline-block;
    width:($page-max-width / 2) - 2*$list-margin;
    margin:$list-margin;
    padding:10px;
    border:10px solid $darker;
    vertical-align: top;

    ul:empty:after {
      content:"no #{$plural-collection} found";
      color:red;
    }
  }

  .#{$singular-collection-tag-fixed} {
    padding-top: 5px;

    .info-detail {
      float:right;
    }
  }
}
