<h1>Tags</h1>

<nav mat-tab-nav-bar>
  <a mat-tab-link
    routerLink="/tags"
    routerLinkActive #myTagsLink="routerLinkActive"
    [routerLinkActiveOptions]="{exact: true}"
    [active]="myTagsLink.isActive">
    related to my tags
  </a>

  <a mat-tab-link
    routerLink="/tags/related-to-tags"
    routerLinkActive #tagsLink="routerLinkActive"
    [routerLinkActiveOptions]="{exact: true}"
    [active]="tagsLink.isActive">
    related to tags
  </a>

  <a mat-tab-link
    routerLink="/tags/new"
    routerLinkActive #newLink="routerLinkActive"
    [routerLinkActiveOptions]="{exact: true}"
    [active]="newLink.isActive">
    new
  </a>

  <a mat-tab-link
    routerLink="/tags/random"
    routerLinkActive #randomLink="routerLinkActive"
    [routerLinkActiveOptions]="{exact: true}"
    [active]="randomLink.isActive">
    random
  </a>
</nav>

<router-outlet></router-outlet>
