<nav class="idea-navigation">
  <a class="link-button" *ngIf="canEdit" [routerLink]="'/idea/'+idea.id+'/edit'">Edit idea</a>
</nav>

<div class="idea-wrapper">
  <section class="side-container">
    <mat-icon ngClass="type-icon" title="idea">lightbulb_outline</mat-icon>
    <app-vote
      [votes]="idea.votes"
      (vote)="onVote($event)"
    ></app-vote>
  </section>
  <section class="main-container">
    <h2 class="idea-title">{{idea.title}}</h2>
    <section class="idea-tags">
      <app-tag-list [tags]="ideaTags"></app-tag-list>
    </section>
    <section class="idea-detail">
      <app-editor-output [value]="idea.detail"></app-editor-output>
    </section>
    <section class="idea-creator">
      <app-user-small [user]="idea.creator"></app-user-small>
    </section>
  </section>
</div>

<section class="idea-comments">
  <app-comments [comments]="comments" [primary]="idea"></app-comments>
</section>
