<div>
  <form (ngSubmit)="submitAndWait()" [formGroup]="newTagForm">
    <fieldset [disabled]="isFormDisabled">
      <div>Create and add <md-icon alt="tag">label</md-icon> {{tagname}}</div>

      <div>
        <input type="hidden" placeholder="Tagname"
        formControlName="tagname" required>

        <div *ngIf="formErrors.tagname" class="alert alert-danger">
          {{formErrors.tagname}}
        </div>
      </div>

      <div>
        <md-input-container>
          <textarea mdInput placeholder="Description"
            formControlName="description"></textarea>
        </md-input-container>

        <div *ngIf="formErrors.description" class="alert alert-danger">
          {{formErrors.description}}
        </div>
      </div>

      <button md-raised-button type="submit"
        [disabled]="!newTagForm.valid">Create And Add</button>

    </fieldset>
  </form>
</div>
