<nav class="home-mushroom-link">
  <a routerLink="/"><img src="/static/img/fungi/helvella_n.png" alt="Helvella mushroom by Carl Linnae"></a>
</nav>

<section class="signup-form-container">

  <h1>Sign up</h1>

  <form (ngSubmit)="onSubmit()" [formGroup]="signupForm" class="signup-form">
    <fieldset [disabled]="isFormDisabled">

      <label for="username">Username</label>
      <input type="text" placeholder="my-username"
        formControlName="username" required>
      <ul>
        <li *ngFor="let error of formErrors.username">{{error}}</li>
      </ul>

      <label for="email">Email</label>
      <input type="email" placeholder="my.email@example.com"
        formControlName="email" required>
      <ul>
        <li *ngFor="let error of formErrors.email">{{error}}</li>
      </ul>

      <label for="password">Password</label>
      <input type="password" placeholder="min. 8 characters"
        formControlName="password" required>
      <ul>
        <li *ngFor="let error of formErrors.password">{{error}}</li>
      </ul>

      <button type="submit" [disabled]="!signupForm.valid">Sign Up</button>

    </fieldset>
  </form>

  <nav class="login-link">
    <a routerLink="/login">Already have an account? Log in.</a>
  </nav>

</section>
