<nav>
  <a routerLink="/">Home</a>
</nav>
<div class="container">
  <h1>Login Form</h1>
  <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
    <div>
      <md-input-container>
        <input md-input type="text" placeholder="Username"
          formControlName="username" required>
      </md-input-container>
    </div>

    <div>
      <md-input-container>
        <input md-input type="text" placeholder="Password"
          formControlName="password" required>
      </md-input-container>
    </div>

    <button md-raised-button type="submit"
      [disabled]="!loginForm.valid">Log In</button>
  </form>

</div>
