<nav class="home-mushroom-link">
  <a routerLink="/"><img src="/static/img/fungi/helvella_n.png" alt="Helvella mushroom by Carl Linnae"></a>
</nav>

<section class="login-form-container">

  <h1>Log in</h1>
  <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" class="login-form">
    <fieldset [disabled]="isFormDisabled">
      <md-input-container>
        <input mdInput type="text" placeholder="Username"
          formControlName="username" required>
      </md-input-container>

      <md-input-container>
        <input mdInput type="password" placeholder="Password"
          formControlName="password" required>
        </md-input-container>

      <button md-raised-button type="submit"
        [disabled]="!loginForm.valid">Log in</button>
    </fieldset>
  </form>

  <nav class="reset-password-link">
    <a routerLink="/reset-password">forgot password?</a>
  </nav>

</section>
