<fieldset [disabled]="isSubmitting">
  <form (ngSubmit)="onSubmit()" [formGroup]="changePasswordForm">
    <div>
      <mat-form-field>
        <input matInput type="password" placeholder="Old Password"
        formControlName="oldPassword" required>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <input matInput type="password" placeholder="New Password"
          formControlName="newPassword" required>
      </mat-form-field>
    </div>

    <button mat-raised-button type="submit"
      [disabled]="!changePasswordForm.valid">Change Password</button>
  </form>
</fieldset>
