<h1>My Conversations</h1>

<ul>
  <li *ngFor="let msg of messages" class="thread"
    [ngClass]="(msg.read === true || msg.from.username === me.username) ? 'read' : 'unread'">
    <div class="thread-with-user">
      <a routerLink="/user/{{msg.with(me).username}}">
        <app-avatar [username]="msg.with(me).username"></app-avatar><span class="thread-user-name">{{msg.with(me).username}}</span>
      </a>
    </div>
    <div class="thread-message">
      <a routerLink="/messages/{{msg.with(me).username}}">{{msg.body}}</a>
    </div>
    <div class="thread-message-from">
      <md-icon *ngIf="msg.from.username === me.username">reply</md-icon>
    </div>
    <div class="thread-message-created">
      {{msg.created | amTimeAgo}}
    </div>
  </li>
</ul>
