@import '../shared/styles/colors';

$inside: 40px;
$padding: 10px;

.unread {
  font-weight: bold;
}

.thread {
  display: flex;
  display: -webkit-flex;
  position: relative;
  height: $inside + 2 * $padding;
  padding: 0 $padding;

  &>div {
    display: inline-block;
    vertical-align: middle;
    line-height: $inside + 2 * $padding;
  }
}

a {
  &:hover {
    background-color: mix($accent, white, 20%);
  }
}

.thread-with-user {
  app-avatar {
    display: inline-block;
    vertical-align: middle;
    width: $inside;
    height: $inside;
    position: relative;
  }

  width: 128px;
  overflow: hidden;
  white-space: nowrap;
  flex: none;
  -webkit-flex: none;
}

.thread-user-name {
  vertical-align: middle;
  padding: 0 $padding;
}

.thread-message {
  flex: 1 1 auto;
  -webkit-flex: 1 1 auto;

  overflow: hidden;
  padding: 0 $padding;

  a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.thread-message-from {
}

.thread-message-created {
  white-space: nowrap;
}
