<section class="user-profile">

  <section class="user-info">

    <app-avatar [username]="username" [size]="128" class="user-avatar"></app-avatar>

    <section class="user-names-container">
      <span class="user-name">{{user.givenName}} {{user.familyName}}</span>
      <span class="user-username">{{username}}</span>
    </section>

    <span class="fill-remaining-space"></span>

    <nav class="user-links-container">
      <!-- edit profile -->
      <a *ngIf="isMe === true" routerLink="/profile/edit">Edit Profile</a>
      <!-- messages -->
      <a *ngIf="isMe === false" routerLink="/messages/{{username}}">Messages</a>


      <!-- contact link  -->
      <span *ngIf="isMe === false">

        <!-- loading -->
        <span *ngIf="contactStatus === null">Fetching contact info...</span>

        <a *ngIf="contactStatus !== null" routerLink="/contact-with/{{username}}">
          <!-- nonexistent -->
          <span *ngIf="contactStatus === 'nonexistent'">Send a contact request</span>
          <!-- confirmed -->
          <span *ngIf="contactStatus === 'confirmed'">Update contact</span>
          <!-- unconfirmed, sent -->
          <span *ngIf="contactStatus === 'sent'">Update contact request</span>
          <!-- unconfirmed, received -->
          <span *ngIf="contactStatus === 'received'">Accept or Decline contact request</span>
        </a>
      </span>
    </nav>
  </section>

  <section class="user-detail">

    <nav md-tab-nav-bar class="user-pages-navigation">
      <a md-tab-link
        routerLink="/user/{{username}}"
        routerLinkActive #profileLink="routerLinkActive"
        [routerLinkActiveOptions]="{exact: true}"
        [active]="profileLink.isActive">
        Profile
      </a>

      <a md-tab-link
        routerLink="/user/{{username}}/contacts"
        routerLinkActive #contactsLink="routerLinkActive"
        [routerLinkActiveOptions]="{exact: true}"
        [active]="contactsLink.isActive">
        Contacts
      </a>
    </nav>

    <router-outlet></router-outlet>

  </section>
</section>
