#user-profile-tag-list {
  &:empty::after {
    content: "no tags found";
  }
}

.avatar {
  display: inline-block;
  height: 200px;
  width: 200px;
}

// TODO make it nicer, not repetitive
.relevance-1 {
  background-color: #caf;
}

.relevance-2 {
  background-color: #a8d;
}

.relevance-3 {
  background-color: #86b;
}

.relevance-4 {
  background-color: #649;
}

.relevance-5 {
  background-color: #427;
}
