.user-profile {
}

/* the top of the page (avatar, name & username, links) */
.user-info {
  display: flex;
  display: -webkit-flex;
}

.user-detail {
  display: block;
}

.user-avatar {
  display: inline-block;
}

.user-names-container {
  display: inline-block;

  .user-name {
    font-size: 1.5em;
    font-weight: bold;
    display: block;
  }

  .user-username {
    font-size: 1.2em;
    color: gray;
    display: block;
  }
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.user-links-container {
  display: inline-block;

  & > * {
    display: block;
    text-align: right;
  }
}

.user-avatar {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 0 1em 1em 0;
}

.user-pages-navigation {
  margin-bottom: 1em;
}
