.user-profile {
  display: flex;
  display: -webkit-flex
}
.user-info {
  width: 200px;
}
.user-detail {
  -webkit-flex: 1;
  flex: 1;
}

.user-avatar {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 1em auto;
  display: block;
}

.user-detail {
  margin: 1em;
}

.user-detail-header {
  display: flex;
  display: -webkit-flex;
}

.user-links-container {
  display: inline-block;

  & > * {
    display: block;
    text-align: right;
  }
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.user-pages-navigation {
  margin-bottom: 1em;
}

.user-detail-name {
  font-size: 1.5em;
  font-weight: bold;
  margin-right: 1em;
}

.user-detail-username {
  font-size: 1.5em;
  color: gray;
}
