/* You can add global styles to this file, and also import other style files */
@import url('reset.scss');
// @import url('forms.scss');
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~ng2-dnd/style.css';
@import '~leaflet/dist/leaflet.css';
@import '~leaflet.markercluster/dist/MarkerCluster.css';
@import '~leaflet.markercluster/dist/MarkerCluster.Default.css';
@import '~mobile-drag-drop/default.css';

@import 'app/shared/styles/fonts';
@import 'app/shared/styles/colors';

@media (max-width: 320px) {
  html, body {
    width: 320px;
  }
}

html, body {
  height: 100%;
  min-height: 100%;
}

body {
  margin: 0px;

  /* default font */
  font-style: $font-content;
}

h1 {
  color: $darker;
  font: 3em $font-header;
  margin: 0.83em 0;
}

/* make a margin around all the content */
router-outlet + :not(app-map) {
  max-width: 768px;
  margin: 1em auto;
  display: block;
}
