/* You can add global styles to this file, and also import other style files */
@import url('reset.scss');
// @import url('forms.scss');
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~ng2-dnd/style.css';
@import '~leaflet/dist/leaflet.css';
@import '~leaflet.markercluster/dist/MarkerCluster.css';
@import '~leaflet.markercluster/dist/MarkerCluster.Default.css';
@import '~mobile-drag-drop/default.css';
@import '~medium-editor/src/sass/medium-editor.scss';
@import '~medium-editor/src/sass/themes/default.scss';

@import 'app/shared/styles/fonts';
@import 'app/shared/styles/colors';

@media (max-width: 320px) {
  html,
  body {
    width: 320px;
  }
}

html,
body {
  height: 100%;
  min-height: 100%;
}

body {
  margin: 0px;

  /* default font */
  font-style: $font-content;
}

h1,
h2,
h3 {
  color: $darker;
}

h1 {
  font: 3em $font-header;
  margin: 0.83em 0;
}

h2 {
  font: 2.3em $font-header;
  margin: 0.7em 0;
}

h3 {
  font: 2em $font-header;
  margin: 0.4em 0;
}

/* make a margin around all the content */
router-outlet + :not(app-map) {
  max-width: 768px;
  margin: 1em auto;
  display: block;
}

/* styles for editor.component (medium editor contenteditable div) */
[contenteditable=true] {
  @import 'app/shared/styles/_user-content';
}

input,
button,
.link-button,
[contenteditable=true] {
  border-radius: 2px;
  padding: 0.5em;
  margin: 0.1em 0 0.4em;
}

$shadow: 0px 1px 3px 0px #aaa;

input,
[contenteditable=true] {
  border: 1px solid #aaa;
  box-shadow: inset $shadow;
  // width: 100%;
}

form label {
  font-size: smaller;
  display: block;
  text-align: left;
}

.link-button {
  display: inline-block;
}

button,
.link-button {
  text-align: center;

  &:not([disabled]) {
    cursor: pointer;
    background-color: $darker;
    color: white;
    box-shadow: $shadow;
  }
}

input.ng-invalid.ng-touched {
  border-color: $accent;
}

form li {
  font-size: small;
  text-align: left;
  color: gray;
}
