mat-form-field, button {
  display: block;
}

mat-form-field {
  width: 100%;
  max-width: 100%;
}

button {
  margin: 0 auto;
}

form {
  position: relative;
  width: 400px;
}

textarea {
  min-height: 5em;
}
