<h3>Change profile picture</h3>
<app-avatar-upload></app-avatar-upload>

<h3>Change personal info</h3>
<form (ngSubmit)="onSubmit()" [formGroup]="profileForm">
  <fieldset [disabled]="isFormDisabled">

    <md-input-container>
      <input mdInput type="text" placeholder="Given Name"
      formControlName="givenName">
      <md-error *ngFor="let error of formErrors.givenName">{{error}}</md-error>
    </md-input-container>

    <md-input-container>
      <input mdInput type="text" placeholder="Family Name"
      formControlName="familyName">
      <md-error *ngFor="let error of formErrors.familyName">{{error}}</md-error>
    </md-input-container>

    <md-input-container>
      <textarea mdInput placeholder="Description"
        formControlName="description"></textarea>
      <md-error *ngFor="let error of formErrors.description">{{error}}</md-error>
    </md-input-container>

    <button md-raised-button type="submit"
      [disabled]="!profileForm.valid">Submit</button>

  </fieldset>
</form>
