<h3>Change profile picture</h3>
<app-avatar-upload></app-avatar-upload>

<h3>Change personal info</h3>
<form (ngSubmit)="onSubmit()" [formGroup]="profileForm">
  <fieldset [disabled]="isFormDisabled">

    <mat-form-field>
      <input matInput type="text" placeholder="Given Name"
      formControlName="givenName">
      <mat-error *ngFor="let error of formErrors.givenName">{{error}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" placeholder="Family Name"
      formControlName="familyName">
      <mat-error *ngFor="let error of formErrors.familyName">{{error}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Description"
        formControlName="description"></textarea>
      <mat-error *ngFor="let error of formErrors.description">{{error}}</mat-error>
    </mat-form-field>

    <button mat-raised-button type="submit"
      [disabled]="!profileForm.valid">Submit</button>

  </fieldset>
</form>
