@import '../shared/styles/colors';

.notification {
  padding: 0.9em;
  color: white;
}

.notification-error {
  background-color: $notify-error;
}

.notification-info {
  background-color: $notify-info;
}

.notifications-container {
  position: fixed;
  bottom: 0px;
  width: 100%;
  z-index: 1001; // display over leaflet maps which have 1000 on control
}

.notifications-container.notifications-placeholder {
  position: relative;
  visibility: hidden;
}
