<section class="notifications-placeholder notifications-container">
  <ul class="notifications-list">
    <li *ngFor="let notification of displayedNotifications"
      (click)="notifyControl.remove(notification.id)" class="notification"
      [ngClass]="'notification-' + (notification.type || 'info')">
      {{notification.msg}}
    </li>
  </ul>
</section>

<section class="notifications-container">
  <ul class="notifications-list">
    <li *ngFor="let notification of displayedNotifications"
      (click)="notifyControl.remove(notification.id)" class="notification"
      [ngClass]="'notification-' + (notification.type || 'info')">
      {{notification.msg}}
    </li>
  </ul>
</section>
