@import '../../../shared/styles/colors';

$contact-width: 150px;
$avatar-size: 120px;
$trust-diameter: 1em;

$trust-color-1: green;
$trust-color-2: yellow;

$content-padding: ($contact-width - $avatar-size)/2;

.user-contact-wrapper {
  width: $contact-width;
  border: 3px solid $darker;
  border-radius: 2px;
}

.user-contact-avatar {
  position: relative;
  width: $avatar-size;
  height: $avatar-size;
  display: block;
  margin: $content-padding auto;
}

.contact-username-trust {
  text-align: center;
  display: block;
  padding-bottom: $content-padding;
}

.contact-trust-1 {
  color: $trust-color-2;
}

.contact-trust-2 {
  color: mix($trust-color-1, $trust-color-2, 33%);
}

.contact-trust-4 {
  color: mix($trust-color-1, $trust-color-2, 67%);
}

.contact-trust-8 {
  color: $trust-color-1;
}

.contact-trust {
  cursor: default;
}

.contact-username {
  color: gray;
}

.contact-actions {
  text-align: center;
}

.contact-reference-toggle {
  cursor: pointer;

  mat-icon {
    height: 1em;
    width: 1em;
    font-size: 1em;
    vertical-align: middle;
  }
}

.contact-reference {
  font-size: small;
  text-align: justify;
  padding: 0 $content-padding $content-padding;

  .reference-label {
    color: grey;
    font-style: italic;
  }
}
