<div class="user-contact-wrapper">
  <a routerLink="/user/{{contact.from.username}}">
    <app-avatar class="user-contact-avatar" [username]="contact.from.username"></app-avatar>
    <div *ngIf="contact.from.givenName + contact.from.familyName" class="contact-name">{{contact.from.givenName}} {{contact.from.familyName}}</div>
    <div class="contact-username-trust">
      <span class="contact-username">{{contact.from.username}}</span>
      <span *ngIf="contact.trust" class="contact-trust"[ngClass]="'contact-trust-' + contact.trust">&#9679;</span>
    </div>

  </a>
  <span *ngIf="!contact.isConfirmed">
    (pending)
    <a routerLink="/contact-with/{{contact.from.username}}">
      <span *ngIf="contact.creator.username === me.username">Update Contact Request</span>
      <span *ngIf="contact.creator.username !== me.username">Confirm/Delete Contact Request</span>
    </a>
  </span>
</div>
