<mat-dialog-content>
  <section class="user-info">
    <app-avatar class="user-avatar" [user]="user" [size]="128"></app-avatar>
    <section class="user-profile">
      <section class="user-name">{{user.givenName}} {{user.familyName}}</section>
      <section class="user-username">{{user.username}}</section>
      <section class="user-description"><app-editor-output [value]="user.description"></app-editor-output></section>
    </section>
  </section>
  <app-user-tag-list [userTags]="userTags" *ngIf="userTags"></app-user-tag-list>
  <div *ngIf="!userTags">loading tags...</div>
</mat-dialog-content>
<mat-dialog-actions>
  <a class="link-button" (click)="close()" [routerLink]="'/user/' + user.username">Visit profile</a>
  <button (click)="close()">Close</button>
</mat-dialog-actions>
