.user-info {
  display: flex;
  margin-bottom: 0.74em;
  position: relative;
}

.user-avatar {
  flex: none;
  width: 128px;
  height: 128px;
  margin-right: 0.74em;
}

.user-profile {
  flex-grow: 1;
  height: 128px;
  overflow-y: auto;
  word-wrap: break-word;
}

.user-name,
.user-username,
.user-description {
  display: block;
}

.user-name {
  font-weight: bold;
}

.user-username {
  color: gray;
}

.user-description {
  margin-top: 0.74em;
}

mat-dialog-actions {
  a,
  button {
    margin: 5px;
  }
}
