// TODO overflow hidden, text-overflow ellipsis doesn't work as expected for .user-description
.user-info {
  display: block;
  height: 128px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0.74em;
  position: relative;
  white-space: nowrap; // keep avatar and profile next to each other
}

.user-profile {
  white-space: normal; // cancel the nowrap from .user-info
}

.user-avatar {
  width: 128px;
  height: 128px;
  margin-right: 0.74em;
}

// .user-profile is a wrapper for name, username, description
.user-profile,
.user-avatar {
  display: inline-block;
  vertical-align: top;
}

.user-name,
.user-username,
.user-description {
  display: block;
}

.user-name {
  font-weight: bold;
}

.user-username {
  color: gray;
}

.user-description {
  margin-top: 0.74em;
}

mat-dialog-actions {
  a,
  button {
    margin: 5px;
  }
}
